<head></head>




<body>
    

    <div class="container">
        <form  action="sf_locator_results">
            <label class="text" for="E"> E : </label>
            <input type="number" id="E" name = "E" size ="4" min="0" step="1"><br>

            <label class="text" for="A"> A :  </label>
            <input type="number" id="A" name = "A" size ="4" min="0" step="1"><br>

            <label class="text" for="D"> D : </label>
            <input type="number" id="D" name = "D" size ="4" min="0" step="1"><br>

            <label class="text" for="G"> G :  </label>
            <input type="number" id="G" name = "G" size ="4" min="0" step="1"><br>

            <label class="text" for="B"> B :  </label>
            <input type="number" id="B" name = "B" size ="4" min="0" step="1"><br>

            <label class="text" for="e"> e :  </label>
            <input type="number" id="e" name = "e" size ="4" min="0" step="1"><br>

            <input type="submit" name="Click Me">
        </form>
    </div>

</body>