


<div>
    <form  action="sf_locator_results">
        <label for="first"> Enter Your Street Address : </label>
        <input type="text" id="first" name = "street" required><br>

        <label for="second"> Enter Your City :  </label>
        <input type="text" id="second" name = "city" required><br>

        <label for="third"> Enter Your State : </label>
        <input type="text" id="third" name = "state" required><br>

        <label for="fourth"> Enter Your Zip Code :  </label>
        <input type="text" id="fourth" name = "zip_code" required><br>

        <input type="submit" name="Click Me">
    </form>
</div>